.top{
  height:100%;
  background-image:url({% static 'images/homebackground..jpeg'%});
  background-size:100%;
  min-height: 720px;
  background-repeat: no-repeat;
  opacity: 0.75;
  scroll-snap-align: start;
  margin-bottom: 2rem
}
.btn{
  opacity: 0.8;
  width=100%;

}
.img{
  margin-left: 45%
}
.login{
  opacity: 0.6;
  float:right;
}
.credits{
  float:right;
  font-size: 0.8rem;
  color: black;
}
.headline{
  background-color: white;
  font-size: 1rem;
  font-style: oblique;
  padding:1rem;
  padding-left: 2rem;
  border-radius: 1rem;
  border:0.2rem solid black;
  margin:0.3rem;
  display: inline-block;

}
.post{
margin-top:2rem;
padding: 3rem;
background-image: linear-gradient(#f6fff6,#e0e2e2);
border-radius: 1rem;
max-height: 800px;
overflow-y: scroll;
scroll-snap-align : start;
}
::-webkit-scrollbar{
  width:5px;
  color:red;

}
#divider{
  border-color:grey;
}