.form{
  background-image: linear-gradient(lightgreen,skyblue);
  border-radius: 8px;
  border:2px solid blue;
  padding:20px;
}
.container{
    max-width:50%;
}
.img{
  margin-left:43%;
  max-width:6rem;
  max-height:6rem;
}
@media all and (max-width:768px){
    .container{
        max-width:95%;
    }
}
