<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta nmae="viewport" content="width=device-width , initial-scale=1.0">
    <meta charset="utf-8">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "css/portfolio.css" %}">
    <link rel="stylesheet" href="{% static "css/docSlider.css" %}" />
    <script src="{% static "javascript/docSlider.min.js" %}"></script>
     <title> Drishtant Rai - A Developer</title>

  </head>
   <body style = "background-image:url({% static 'images/pro_wall3.jpeg'%});">
<!--<body>-->
    <div class="docSlider top">
       <div class="top ">
        <div>
        <ul style="float: left;">
            <li><a href="https://dev.to/drishtantr1508">
  <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Drishtant Rai's DEV Profile" height="30" width="30">
</a></li>
          <!--<li class="nav"><a href=".top"><span style="color:black; font-size:22px;">Home</span></a></li>-->
        </ul>
       <ul style="float: right;">
         <li class="nav"><a href="#one"><span style="color:white; font-size:22px;">Skills</span></a></li>
         <li class="nav"><a href="#two"><span style="color:white; font-size:22px;">Achievements</span></a></li>
         <li class="nav"><a href="#three"><span style="color:white; font-size:22px;">Projects</span></a></li>
         <li class="nav"><a href="#four"><span style="color:white; font-size:22px;">Education</span></a></li>
         <li class="nav"><a href="#five"><span style="color:white; font-size:22px;">Contacts</span></a></li>
       </ul>
     </div>

        <div class="" style="padding-top: 5rem;">
                 <img style = "width: auto;
                              height: auto;
                              margin-left: auto;
                              margin-right: auto;
                              display: block;
                              margin-top: 2rem;
                              margin-bottom: 2rem;
                              border-radius: 50%;"
                       src = "https://avatars.githubusercontent.com/u/64894159?s=460&u=5be6766fb0055568ec0ba1cb2692e142e07e9a4f&v=4">
          <h1 id="h1_top" align= 'center'>Hello I'm Drishtant!</h1>
          <h2 align="center">A full-stack Web Developer</h2>

        </div>

        </div>
          <section id="one" class="one">
            <div>
        <ul style="float: left;">
            <li><a href="https://dev.to/drishtantr1508">
  <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Drishtant Rai's DEV Profile" height="30" width="30">
</a></li>
          <!--<li class="nav"><a href=".top"><span style="color:black; font-size:22px;">Home</span></a></li>-->
        </ul>
       <ul style="float: right;">
         <li class="nav"><a href="#one"><span style="color:white; font-size:22px;">Skills</span></a></li>
         <li class="nav"><a href="#two"><span style="color:white; font-size:22px;">Achievements</span></a></li>
         <li class="nav"><a href="#three"><span style="color:white; font-size:22px;">Projects</span></a></li>
         <li class="nav"><a href="#four"><span style="color:white; font-size:22px;">Education</span></a></li>
         <li class="nav"><a href="#five"><span style="color:white; font-size:22px;">Contacts</span></a></li>
       </ul>
     </div>
            <div class="card1" style="color:black;backgroud-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));" >
              <h1>Skill</h1>
              <ul>
                  <li>Advanced Python</li>
                  <li>Django (Rest Framework)</li>
                  <li>React</li>
                  <li>Data Science and Machine Learning</li>
                  <li>Deep Learning and Open CV-Computer Vision</li>
                  <li>Plotly-Dash Apps</li>
                  <li>Competitve Programming</li>
                  <li>Web Scrapping and Web Automation(Selenium + Python)</li>
                </ul>
            </div>
          </section>
          <section id="two" class="one">
            <div>
        <ul style="float: left;">
            <li><a href="https://dev.to/drishtantr1508">
  <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Drishtant Rai's DEV Profile" height="30" width="30">
</a></li>
          <!--<li class="nav"><a href=".top"><span style="color:black; font-size:22px;">Home</span></a></li>-->
        </ul>
       <ul style="float: right;">
         <li class="nav"><a href="#one"><span style="color:white; font-size:22px;">Skills</span></a></li>
         <li class="nav"><a href="#two"><span style="color:white; font-size:22px;">Achievements</span></a></li>
         <li class="nav"><a href="#three"><span style="color:white; font-size:22px;">Projects</span></a></li>
         <li class="nav"><a href="#four"><span style="color:white; font-size:22px;">Education</span></a></li>
         <li class="nav"><a href="#five"><span style="color:white; font-size:22px;">Contacts</span></a></li>
       </ul>
     </div>
            <div class="card2" id="card2" style="color:black;">
              <h3>Achievements</h3>
                <ul>
                    <li>Completed and got certified by hackerrank in python</li>
                    <li>Cleared IIT - JEE Advanced in 2019</li>
                </ul>
            </div>
          </section>
          <section id="three" class="one">
            <div>
        <ul style="float: left;">
            <li><a href="https://dev.to/drishtantr1508">
  <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Drishtant Rai's DEV Profile" height="30" width="30">
</a></li>
          <!--<li class="nav"><a href=".top"><span style="color:black; font-size:22px;">Home</span></a></li>-->
        </ul>
       <ul style="float: right;">
         <li class="nav"><a href="#one"><span style="color:white; font-size:22px;">Skills</span></a></li>
         <li class="nav"><a href="#two"><span style="color:white; font-size:22px;">Achievements</span></a></li>
         <li class="nav"><a href="#three"><span style="color:white; font-size:22px;">Projects</span></a></li>
         <li class="nav"><a href="#four"><span style="color:white; font-size:22px;">Education</span></a></li>
         <li class="nav"><a href="#five"><span style="color:white; font-size:22px;">Contacts</span></a></li>
       </ul>
     </div>
            <div class="card3" style="color:black;">
              <h3>Projects</h3>
              <ul>
                  <li><a href="https://drishtant.pythonanywhere.com">Django Based Tech Blog Website</a></li>
                  <li>HelpBot Project In IIT BHU Cisco-Thinqubator</li>
              </ul>
            </div>
          </section>
          <section id="four" class="one">
            <div>
        <ul style="float: left;">
            <li><a href="https://dev.to/drishtantr1508">
  <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Drishtant Rai's DEV Profile" height="30" width="30">
</a></li>
          <!--<li class="nav"><a href=".top"><span style="color:black; font-size:22px;">Home</span></a></li>-->
        </ul>
       <ul style="float: right;">
         <li class="nav"><a href="#one"><span style="color:white; font-size:22px;">Skills</span></a></li>
         <li class="nav"><a href="#two"><span style="color:white; font-size:22px;">Achievements</span></a></li>
         <li class="nav"><a href="#three"><span style="color:white; font-size:22px;">Projects</span></a></li>
         <li class="nav"><a href="#four"><span style="color:white; font-size:22px;">Education</span></a></li>
         <li class="nav"><a href="#five"><span style="color:white; font-size:22px;">Contacts</span></a></li>
       </ul>
     </div>
            <div class="card4" style="color:black;">
              <h3>Education</h3>
              <ul>
                  <li>Currently Doing Graduation In IIT (BHU) Varanasi</li>
                  <li>2024 expected</li>
                  <li>Major in Mining Engineering</li>
                  <li>Software Enginnering >>> Online Modes</li>
              </ul>
            </div>
          </section>
          <section id="five" class="one">
            <div>
        <ul style="float: left;">
            <li><a href="https://dev.to/drishtantr1508">
  <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Drishtant Rai's DEV Profile" height="30" width="30">
</a></li>
          <!--<li class="nav"><a href=".top"><span style="color:black; font-size:22px;">Home</span></a></li>-->
        </ul>
       <ul style="float: right;">
         <li class="nav"><a href="#one"><span style="color:white; font-size:22px;">Skills</span></a></li>
         <li class="nav"><a href="#two"><span style="color:white; font-size:22px;">Achievements</span></a></li>
         <li class="nav"><a href="#three"><span style="color:white; font-size:22px;">Projects</span></a></li>
         <li class="nav"><a href="#four"><span style="color:white; font-size:22px;">Education</span></a></li>
         <li class="nav"><a href="#five"><span style="color:white; font-size:22px;">Contacts</span></a></li>
       </ul>
     </div>
            <div class="card5" style="color:black;">
              <h3>Contact</h3>
              <ul>
                  <li>Linked In <a href="https://www.linkedin.com/in/drishtant-rai-605790190">Drishtant Rai</a></li>
                  <li>Github : <a href="https://github.com/drishtantR1508">drishtantR1508</a></li>
                  <li>Twitter : <a href="https://twitter.com/DrishtantR">DrishtantR</a></li>
                  <li>Instagram <a href="https://instagram.com/drishtantrai">@drishtantrai</a></li>
                  <li>Email : <a href="mailto:drishtant.rai2000@gmail.com">Drishtant Rai</a></li>

              </ul>
            </div>
          </section>
        </div>

<script>docSlider.init({
  speed : 500,
  startSpeed : null,
  easing : 'ease'
});</script>


  </body>
</html>
