{% extends 'idroidos/base.html' %}
{% load static %}

{% block css_style%}
<meta name="viewport" content="width=device-width initial-scale=1"/>
<link rel="stylesheet" href="{% static 'css/login_form.css'%}">
{% endblock %}

{% block content %}
<br>
  <div class="container">
    <h1 align="center">Enter your Login details</h1>
  <br>

  <form class="form" method="POST">
    {% csrf_token %}
    <label for="username"> <span class="fa fa-user" style="padding:10px;"></span> </label>
    <input type="text" name="username" placeholder="Enter your Username Here..." class="form-control">
    <label for="password"><span class="fa fa-lock" style="padding:10px;"></span></label>
    <input  class="form-control"type="password" name="password" placeholder="Enter your Password Here...">
    <br>
    <input type="submit" class="btn btn-primary btn-lg" value="LogIn">
  </form>

  <br>
  <a href="{% url 'register'%}">Not Registerd Yet? Sign Up here>>></a>
</div>

<br><br><br>
<!--<div class="img container">-->
<!--  <img src="{% static 'images/main_logo.jpeg'%}" style="max-width:6rem;max-height:6rem; margin-left:46%" alt="web logo">-->
<!--</div>-->

{% endblock %}
