{% extends 'idroidos/base.html' %}
{% load static %}
{% block css_style %}
<link rel="stylesheet" href="{% static 'css/list.css'%}">
<meta name="viewport" content="width=device-width initial-scale=1"/>
{% endblock %}
{% block content %}
<div class="latest-smartphones" data-aos="fade-down">
  {% for smartphone in smartphones %}
  <div class="" data-aos="fade-left">
  <h3> {{smartphone.smartphone|safe|linebreaksbr}} : {{smartphone.title|safe|linebreaksbr}}</h3>
  <div class="brief">
    <p>{{smartphone.overview|safe|linebreaksbr}}</p>
    <a href="{% url 'smartphone_details' pk=smartphone.pk %}" class="btn btn-danger full-article" type="button" name="">
       <span class="link-dark">Read Full Article</span></a>
  </div>
  <p><a href="{% url 'comparison_list'%}" class="link">Explore latest Comparisons >>></a> or
  <a href="{% url 'news_list' %}" class="link">Explore latest trends in Tech >>></a></p>
  </div>
  {% endfor %}
</div>


{% endblock %}
